.table {
  width: 100%;
  background: #fff;
  color: #000;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1rem;
}
.th {
  padding: 1.15rem;
  white-space: nowrap;
}
.first-col {
  color: #7740d9;
}
.row {
  border-bottom: 1px solid #3a4250;
}
