.form-container {
  display: flex;
}
.input-comment {
  width: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #6c757d;
  border: 1px solid #ced4da;
}
.btn {
  border: none;
  background-color: #8c4bff;
  color: aliceblue;
  border-radius: 5px;
  width: 4rem;
  font-weight: 500;
}
